img{
    max-height: 100px;
}

ul{
    padding: 0;
	margin: 50px auto;
	list-style: none;
	text-align: center;
}

ul li{
    display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px 100px 10px 100px;
	font-family: 'helvetica', san-serif;
	min-height: 25vh;
	background: white;
	border: 1px solid #252727;
	text-align: left;
}
ul li h1{
    font-size: 20px;
	color: #b7b7b7;
	margin-bottom: 5px;
}

ul li p{
    font-size: 16px;
	line-height: 18px;
	color: #b7b7b7;
	margin-top: 5px;
}

ul li button{
    background: transparent;
	border: 1px solid #b7b7b7;
	padding: 10px 20px;
	color: #b7b7b7;
	border-radius: 3px;
	position: relative;
	transition: all 0.3s ease-in-out;
	transform: translateY(-40px);
	opacity: 0;
	cursor: pointer;
	overflow: hidden;
}
ul li button::before{
    content: '';
	position: absolute;
	height: 100%;
	width: 120%;
	background: #b7b7b7;
	top: 0;
	opacity: 0;
	left: -140px;
	border-radius: 0 20px 20px 0;
	z-index: -1;
	transition: all 0.3s ease-in-out;
}

ul li:hover button{
    transform: translateY(5px);
	opacity: 1;
}
ul li button:hover{
    color: #262a2b;
}

ul li button:hover:before {
	left: 0;
	opacity: 1;
}


.addMovie{
	font-size: 25px;
}
