<%- include('header'); %>

<form action="/addmovie" method="post">
    <ul>
        <li>
            <label for="Name">Movie name</label>
            <input name="Name" id="Name" value="">
           
        </li>
        <li>
            <label for="myScore">Movie Score</label>
            <input name="myScore" id="myScore" value="">
        </li>
        <li>
            <button type='submit'>ADD</button>
        </li>
</ul>
</form>