<%- include('header'); %>

<form action="/sendData" method="post">
    <ul>
        <li>
            <label for="movieName">Movie name</label>
            <input name="movieName" id="movieName" value="Shutter Islands">
           
        </li>
        <li>
            <label for="movieScore">Movie Score</label>
            <input name="movieScore" id="movieScore" value="">
        </li>
        <li>
            <button type='submit'>ADD</button>
        </li>
</ul>
</form>